
html{
    font-size: calc(0.75vh + 0.75vw);
  }
.header {
    display: flex;
    margin-top: 0.5rem;
    left: 0px;
  }
.companyLogo {
    margin-top: 0.3rem;
    margin-left: 1.5rem;
    height: 2.45rem;
    width: auto;
    background: 0% 0% no-repeat padding-box;
    opacity: 1;
}
.customer_name{
display: inline;
margin-top: 0.4rem;
padding-left: 0.4rem;
width:12rem;
height: 2rem;
text-align: left;
font: normal normal bold 1.9rem/2.45rem Futura PT;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-stretch: expanded;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hrcLogo{
    display: block;
    margin-top: 0.3rem;
    margin-left: 27%;
    height: 2.5rem;
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
}
